* {
  font-family: system-ui;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  color: #3c3c3c;
  box-sizing: border-box;
  letter-spacing: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

svg {
  width: 24px;
  height: 24px;
  fill: black;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  display: grid;
  place-items: center;
}

input {
  border: 1px solid #aaa;
  background-color: transparent;
  outline: none;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  accent-color: white;
  cursor: pointer;
}
