$w320:  320px;
$w360:  360px;
$w420:  420px;
$w480:  480px;
$w540:  540px;
$w640:  640px;
$w768:  768px;
$w854:  854px;
$w960:  960px;
$w1024: 1024px;
$w1156: 1156px;
$w1280: 1280px;

$red:  rgb(255, 100, 100);
$green:rgb(50, 200, 50);
$blue: rgb(40, 165, 240);
